.textbox {
  background: transparent;
  border: 1px solid #999;
  outline: 0;
  height: 50px;
  width: 70%;
  font-size: 2em;
}

input.MYtextbox {
  border: transparent;
  background: transparent;
  height: 25px;
  width: 100px;
  font-size: 20px;
  /* the important bit */
}

.disc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cd {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/CD_v2.png);
}
.discAmountInput{
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/input.png);
}

.dvd {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/DVD_v2.png);
}

.dvd-DL {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/DVD_RW_v2.png);
}

.blu-ray {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Bluray_v2.png);
  //(http://i.imgur.com/I0v9ODz.png);
}

.noprintButton {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/No_Print_v2.png);
}

.bwButton {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/B&W_Print_v2.png);
}

.colorButton {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Color_Print_v2.png);
}

.noCase {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Case_No.png);
}

.wPaperSleeveCase {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Case_PaperSleeve.png);
}

.cPaperSleeveCase {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Case_cPaperSleeve.png);
}

.jewelCase {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Case_Jewel.png);
}

.slimJewelCase {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Case_SlimJewel.png);
}

.plasticSquareCase {
  background-image: url(https://raw.githubusercontent.com/Demonicowl/myimagehiveAssets/master/Case_SlimPolyJewel.png);
}

.disc-selector input:active +.drinkcard-disc {
  opacity: .9;
}

.disc-selector input:checked +.drinkcard-disc {
  -webkit-filter: brightness(0.8) grayscale(.5) opacity(.9);
  -moz-filter: brightness(0.8) grayscale(.5) opacity(.9);
  filter: brightness(0.8) grayscale(.5) opacity(.9);
}

.drinkcard-disc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 90%;
  height: 7em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1) grayscale(.5) opacity(.8);
  -moz-filter: brightness(1) grayscale(.5) opacity(.8);
  filter: brightness(1) grayscale(.5) opacity(.8);
}

.drinkcard-disc:hover {
  -webkit-filter: brightness(0.8) grayscale(.5) opacity(.9);
  -moz-filter: brightness(0.8) grayscale(.5) opacity(.9);
  filter: brightness(0.8) grayscale(.5) opacity(.9);
}
.drinkcard-disc.discAmountInput {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}


a:visited {
  color: #888
}

a {
  color: #444;
  text-decoration: none;
}

p {
  margin-bottom: .3em;
}

:root {
  --MYcolor1: #512884;
  --MYcolor2: #b9d055;
  --MYcolor3: #04B2DF;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* text align center */

.clear {
  clear: both;
}

/*body*/

body {
  background: 0px 0px;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

body a {
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}

.pricing-grids {
  margin: 12% 0;
}
.pricing-grids.2 {
  margin: 12% 0;
  width:75%;
}

.pricing-grid1,
.pricing-grid2,
.pricing-grid3 {
  width: 31.5%;
  float: left;
  text-align: center;
  margin-right: 2%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  padding: 0;
  border: none;
  border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
}

.pricing-grid3 {
  margin-right: 0;
}

.pricing-grid1:hover,
.pricing-grid2:hover,
.pricing-grid3:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  z-index: 1;
  border: none;
}

.pricing-grid1:nth-child(3) {
  margin-right: 0;
}

.price-value h2 a {
  font-size: 1.8em;
  color: #fff;
}

.price-value.two.dima h2 a {
  font-size: 3em;
  color: #fff;
}
.price-value.two.dima input {
  font-size: 2.5em;
  height: 50px;
  width: 70%;
  text-align: center;
}

.price-value {
  background: var(--MYcolor1);
  padding: 2.8em 1.8em 2em;
  border-bottom: 2px solid#ffd500;
  border-top-left-radius: 0.7em;
  -webkit-border-top-left-radius: 0.7em;
  -o-border-top-left-radius: 0.7em;
  -moz-border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  -webkit-border-top-right-radius: 0.7em;
  -o-border-top-right-radius: 0.7em;
  -moz-border-top-left-radius: 0.7em;
  position: relative;
}

.price-value.two {
  background: var(--MYcolor2);
  border-bottom: 2px solid#fd6e70;
  /*position: absolute;
   bottom:0;
   width:100%;
   height:60px;*/
}

.price-value.three {
  background: var(--MYcolor3);
  border-bottom: 2px solid#028f87;
}

.price-value ul,
.pricing-grid1 ul,
.pricing-grid2 ul,
.pricing-grid3 ul {
  padding: 0;
}

.price-value ul li,
.pricing-grid1,
.pricing-grid2 ul li,
.pricing-grid3 ul li {
  list-style: none;
}

.price-value h5 span {
  color: #fbd707;
  font-size: 19px;
}

.price-value lable {
  color: #817d94;
  font-size: 17px;
}

.price-value.two h5 span {
  color: #fe6d72;
}

.price-value.two h5 lable {
  color: #8c8c94;
}

.price-value.three h5 span {
  color: #fbd707;
}

.price-value.three h5 lable {
  color: #9CF7F8;
}

.price-value h5 {
  padding: 11px 0;
}

.sale-box,
.sale-box.two,
.sale-box.three {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 130px;
  width: 143px;
  text-align: center;
  z-index: 0;
  right: 0;
  border-top-right-radius: 0.7em;
  -o-border-top-right-radius: 0.7em;
  -moz-border-top-right-radius: 0.7em;
  -webkit-border-top-right-radius: 0.7em;
}

.sale-box span.on_sale {
  font-size: 14px;
  color: #444;
  background: #ffd400;
  text-transform: uppercase;
  padding: 58px 35px 17px 40px;
  width: 281px;
  text-align: center;
  display: block;
  position: absolute;
  left: -47px;
  top: -41px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(40deg);
  box-shadow: 3px -4px 13px 3px rgba(0, 0, 0, 0.75);
}

.sale-box.two.sale-box span.on_sale {
  background: #fa6e6f;
}

.sale-box.three.sale-box span.on_sale {
  background: #05AEA7;
}

.pricing-grid1 ul li a,
.pricing-grid2 ul li a,
.pricing-grid3 ul li a {
  color: #C7C4C4;
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 16px 0;
  text-decoration: none;
  font-weight: 400;
}

.pricing-grid1 ul li.whyt a,
.pricing-grid2 ul li.whyt a,
.pricing-grid3 ul li.whyt a {
  background: #f4f4f4;
}

.pricing-grid1:hover div.price-bg ul li a,
.pricing-grid1:hover div.price-value h3 a {
  color: #512884;
}

.pricing-grid2:hover div.price-bg ul li a,
.pricing-grid2:hover div.price-value h3 a {
  color: #fa6e6f;
}

.pricing-grid3:hover div.price-bg ul li a,
.pricing-grid3:hover div.price-value h3 a {
  color: #04dbdd;
}

.price-bg {
  background: #fff;
}

.price-bg ul {
  padding: 0;
}

.price-bg ul li {
  list-style: none;
}

.cart1,
.cart2,
.cart3 {
  padding: 1em 0em 1em;
  //display: block;
  border-bottom: 2px solid#ffd500;
}

.cart2 {
  border-bottom: 2px solid#f96d70;
}

.cart3 {
  border-bottom: 2px solid#04dbdd;
}

.cart1 a,
.cart2 a,
.cart3 a {
  color: #FFF;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.8em 2em;
  text-decoration: none;
  background: #f7d30b;
  text-transform: uppercase;
  -webkit-appearance: none;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -moz-border-radius: 1em;
  outline: none;
}

.cart2 a {
  background: #fa6e6f;
}

.cart3 a {
  background: #04dbdd;
}

.cart1 a:hover,
.cart2 a:hover,
.cart3 a:hover {
  color: #2b2b33;
}


/*--------------*/

@media(max-width:1366px) {
  .pricing-grid1 ul li a,
  .pricing-grid2 ul li a,
  .pricing-grid3 ul li a {
    font-size: 17px;
  }
}

@media(max-width:1024px) {
  .pricing-grid1 ul li a,
  .pricing-grid2 ul li a,
  .pricing-grid3 ul li a {
    font-size: 15px;
  }
  .price-value,
  .price-value.two,
  .price-value.three {
    padding: 2em 0 1em 0;
  }
  .price-value h2 a,
  .price-value.two h3 a,
  .price-value.three h4 a {
    font-size: 1.6em;
  }
  .price-head h1 {
    margin-top: 1em;
    font-size: 2.6em;
  }
  .pricing-grids {
    margin: 8% 0;
  }
}

@media(max-width:768px) {
  .pricing-grid1 h3 a,
  .pricing-grid2 h3 a,
  .pricing-grid3 h3 a {
    padding: 0.4em 1em;
    font-size: 0.7em;
  }
  .pricing-grid1,
  .pricing-grid2,
  .pricing-grid3 {
    width: 55%;
    float: none;
    text-align: center;
    margin: 1em auto;
  }
  .price-head h1 {
    margin-top: 1em;
    font-size: 2.4em;
  }
}

@media(max-width:640px) {
  .pricing-grid1 ul li a,
  .pricing-grid2 ul li a,
  .pricing-grid3 ul li a {
    font-size: 15px;
  }
  .pricing-grid1,
  .pricing-grid2,
  .pricing-grid3 {
    width: 65%;
    float: none;
    text-align: center;
    margin: 1em auto;
  }
  .pricing-grid1 ul li a,
  .pricing-grid2 ul li a,
  .pricing-grid3 ul li a {
    font-size: 15px;
    padding: 13px 0;
  }
}

@media(max-width:480px) {
  .pricing-grid1,
  .pricing-grid2,
  .pricing-grid3 {
    width: 81%;
  }
  .price-head h1 {
    margin-top: 1em;
    font-size: 2.1em;
  }
}

@media(max-width:320px) {
  .pricing-grid1,
  .pricing-grid2,
  .pricing-grid3 {
    width: 100%;
    margin-right: 0;
  }
  .price-value h2 a,
  .price-value.two h3 a,
  .price-value.three h4 a {
    font-size: 1.2em;
  }
  .price-value h5 span,
  .price-value lable {
    font-size: 16px;
  }
  .price-head h1 {
    margin-top: 1em;
    font-size: 1.5em;
  }
  .pop_up {
    border: 4px solid#485460;
  }
}
